
/* ---------- Light Theme Tokens ---------- */
$light-background: #FFFFFF;
$light-secondary: #F8FAFB;

$light-text-primary: #0b2938;
$light-text-secondary: #7f7f7f;

$light-button-primary: #d0ff25;

$light-border-color: #f6f6f6;

/* ---------- Dark Theme Tokens ---------- */
$dark-background: #0f0f17;
$dark-secondary: #151526;

$dark-text-primary: #ffffff;
$dark-text-secondary: #959595;

$dark-button-primary: #d0ff25;

$dark-border-color: #26263a;
